@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Overpass", sans-serif;
}

/* Rating buttons container */
.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.75rem;
}

/* Rating button style */
.rating-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: hsl(213, 19%, 23%);
  color: hsl(217, 12%, 63%);
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-weight: 400;

  transition: all 0.1s;
}

.rating-button:hover {
  background-color: hsl(217, 12%, 63%);
  color: #fff;
}

.rating-button--active {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}
